<html>
  <head>
    <title>The Gossip Project</title>
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.12.0/css/tachyons.min.css"/>
  </head>
  <body class="bg-light-gray">
      <% erb :layout do %>
      <% end %>
        <div class="tc">
          <iframe allow="fullscreen" frameBorder="0" height="250" src="https://giphy.com/embed/QmP1GgvpWYDuEBuKCV/video" width="250"></iframe>
        </div>
        <article class="mw9 center ph3-ns">
                <div class="pa4">
                  <div class="overflow-auto">
          <table class="f6 w-100 mw8 center" cellspacing="0">
            <thead>
                <tr>
                  <th class="fw6 bb b--black-20 tl pb3 pr3 f3 lh-copy serif">#</th>
                  <th class="fw6 bb b--black-20 tl pb3 pr3 f3 lh-copy serif">Name</th>
                  <th class="fw6 bb b--black-20 tl pb3 pr3 f3 lh-copy serif">Content</th>
                </tr>
            </thead>
            <tbody class="lh-copy">
              <% gossips.each_with_index do | gossip | %>
                <tr>
                  <td class="pv3 pr3 bb b--black-20 f3 lh-copy serif"><%= gossips.index(gossip) + 1%> </td>
                  <td class="pv3 pr3 bb b--black-20 f3 lh-copy serif"><%= gossip.author %></td>
                  <td class="pv3 pr3 bb b--black-20 f3 lh-copy serif"><a href="/gossips/<%= gossips.index(gossip)%>"><%= gossip.content %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </article>
  </body>
</html>
