<html>
  <head>
    <title>Gossip App</title>
  </head>
    <body>
    <nav class="pa3 pa4-ns">
        <a class="link dim black b f1 f-headline-ns tc db mb3 mb4-ns f3 lh-copy serif" href="/" title="Home">The Gossip Digest</a>
          <div class="tc pb3">
            <a class="link dim gray f6 f5-ns dib mr3 f3 lh-copy serif" href="/" title="Home">Home</a>
            <a class="link dim gray f6 f5-ns dib mr3 f3 lh-copy serif" href="/gossips/new/" title="About">New Gossip</a>
          </div>
      </nav>
        <%= yield %>
    </body>
</html>